home="https://npmmirror.com"
registry="https://registry.npmmirror.com/"

sass_binary_site="https://npmmirror.com/mirrors/node-sass/"
canvas_binary_host_mirror="https://npmmirror.com/mirrors/node-canvas-prebuilt/"
phantomjs_cdnurl="https://npmmirror.com/dist/phantomjs/"
electron_mirror="https://npmmirror.com/mirrors/electron/"
sqlite3_binary_host_mirror="http://npmmirror.com/mirrors/"
profiler_binary_host_mirror="https://npmmirror.com/mirrors/node-inspector/"
chromedriver_cdnurl="http://npmmirror.com/mirrors/chromedriver/"
operadriver_cdnurl="http://npmmirror.com/mirrors/operadriver/"
electron_builder_binaries_mirror="http://npmmirror.com/mirrors/electron-builder-binaries/"
